header {
    margin-bottom: 5rem;
}

#startbtn {
    width: 100%;
}

#testnumberrow {
    font-size: 3rem;
}

#currentcard {
    font-size: 4rem;
    text-align: center;
}

#prevcard {
    font-size: 3rem;
}

.acard {
    font-size: larger;
    text-align: center;
    padding: 1.5rem 0;
    width: 3.5rem;
}

.acard:hover {
    cursor: pointer;
}

#howmanycardstext {
    display: none;
}

.amountoption {
    cursor: pointer;
}

.playername {
    margin: 0.5rem;
    font-size: larger;
}

#notvalidalert, #notyourturnalert, #notyetalert {
    position: fixed;
    top: 4rem;
    text-align: center;
    font-size: larger;
    display: none;
}

#swapsection, #gamesection {
    visibility: hidden;
}

#coplayer {
    display: inline-block;
}

.opponentCard {
    padding: 0.5rem;
}

#winnertext {
    font-size: 5rem;
    margin-top: 40vh;
}

#joinsection {
    display: flex;
    flex-direction: column;
    max-width: 23rem;
    margin: auto;
}

#joinarea {
    background-color: whitesmoke;
}

#joinarea input{
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
}

#stacketc {
    width: 100%;
    max-width: 50rem;
    background-color: whitesmoke;
}

#rulestext {
    max-width: 60rem;
    margin: auto;
}