header {
    margin-bottom: 5rem;
}

#testnumberrow {
    font-size: 3rem;
}

#currentcard {
    font-size: 4rem;
    text-align: center;
}

#prevcard {
    font-size: 3rem;
}

.acard {
    font-size: larger;
    text-align: center;
    padding: 1.5rem 0;
    width: 3.5rem;
}

.acard:hover {
    cursor: pointer;
}

#howmanycardstext {
    display: none;
}

.amountoption {
    cursor: pointer;
}

.playername {
    margin: 0.5rem;
    font-size: larger;
}

#notvalidalert, #notyourturnalert, #notyetalert {
    position: absolute;
    top: 4rem;
    text-align: center;
    font-size: larger;
    display: none;
}

#game {
    visibility: hidden;
    margin: auto;
}

#coplayer {
    display: inline-block;
}

.opponentCard {
    padding: 0.5rem;
}